body{
    font: 14px sans-serif;
}

.active {
    stroke: #000;
    stroke-width: 2px;
    cursor: grabbing;
}

.small {
    font: 11px sans-serif;
}

svg {
    border: 1px solid black;
}

#code {
    font-size: 15px;
}
